.idea/*
.cache/*
.DS_Store
*config.yml
*secrets.yml
*.pyc
.env
coverage.xml
derby.log
.venv/*
venv/*
.python-version
.coverage
errorLog
tests/errorLog
tests/stats
tests/test-reports/

# Used in local development
temp/
tmp/
.ivy2/*
.ivy2.5.2/*
.pytest_cache
.devcontainer/
