# explicit
black==25.1.0
boto3==1.34.58
delta-spark==4.0.0
deltalake==1.1.4
flake8==7.0.0
numpy==1.26.4
# Keeping pandas before 2.2.0 which requires SQLAlchemy to be 2.0.0
pandas==2.1.4
polars==1.34.0
psutil==5.9.8
# Keeping pyarrow at this earlier version as pip doesn't seem to store the compiled packages for higher versions
pyarrow==15.0.1
pydantic[dotenv]==1.9.*
pyhive[hive_pure_sasl]==0.7.0
pyspark==4.0.0
pytest==8.0.2
pytest-cov==4.1.0
pytest-pretty==1.3.0
pytest-xdist==3.7.0
python-dateutil==2.9.0
requests==2.31.0
thrift==0.22.0
thrift-sasl==0.4.3
xmltodict==0.13.0

# implicit

# botocore hasn't been updated with a fix for md5s and python3.9
botocore @ git+https://github.com/fedspendingtransparency/botocore-python39-md5.git@md5-fix-1-34-58#egg=botocore
